<tbody>
    <% @scps.each do |scp| %>
      <tr>
      	<%= scp["Name"] %>
        <td><%= link_to 'Show ', controller: "scp", action: "show", id: scp["Id"] %></td>
        <td><%= link_to 'Edit', controller: "scp", action: "update", id: scp["Id"] %></td>
        <td><%= link_to 'Destroy', controller: "scp", action: "destroy", id: scp["Id"] %></td>
      </tr>
      <br>
    <% end %>
  </tbody>